<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container" style="align-items: center; text-align: center;">
        <h1 class="display-4">Comic App</h1>
        <hr>
        <p class="lead">
            ¡Bienvenido al Mundo del Cómic! Este proyecto es ejemplo de uso de Angular para realizar una página Web sobre los héroes del mundo de los cómics. En la sección de héroes, se muestra una lista de héroes del mundo Marvel y DC. Así mismo, en el navbar, se
            puede econtrar un buscador dónde se puede ingresar el nombre de algún héroe para encontrar su información.
        </p>
        <br>
        <div>
            <img src="../../../assets/img/dc-amrvel-home.jpg" alt="marvel-dc" style="width: 70%;">
        </div>
    </div>
</div>
